*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    width: 500px;
    margin: 20px auto;
}

header{
    background-color: rgb(30, 191, 202);
    height: 80px;
    width: 500px;
    border: 0;
}

.information{
    border: 1px solid silver;
    padding: 50px 20px 20px 20px;
    position: relative;
}

.name{
    font-size: 2em;
    margin-bottom: 10px;
}

.location, .description, .edit {
    margin-bottom: 10px;
}

.description{
    line-height: 1.5em;
}

.icon{
    height: 15px;
}

.picture > img{
    height: 100px;
    position: absolute;
    top: -50px;
    left: 20px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid white;
}